<a href="https://colab.research.google.com/github/ksprajwalgowda/Python-workshop/blob/master/Day_3_sesson_2_Exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# Write a Python Program to Print Multiplication Table of a  number which got through keyboard.
n = int(input("Enter a number : "))
for i in range(1,11):
  print(f"{n} x {i} = {n*i}")

Enter a number : 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [2]:
# Write a  Python Program to find the Armstrong Numbers between 1 and 2000 ( i.e 153 is amtrong numbers as 1**3+5**3+3**3=153 )
for i in range(1,2001):
  l = list(map(int,str(i).strip()))
  li = [x**3 for x in l]
  if i == sum(li):
      print(i)

1
153
370
371
407

In [3]:
#Write a python program to get the list of tuples (rollno, name) for n students by getting rollno and name through keyboard. Sort and print  them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders
l = [(int(input("Enter rollno of student %d : "%i)),input("Enter name of student %d : "%i)) for i in range(1,int(input("Enter number of students : "))+1)]
print("Soted rollno wise in ascending order : ",sorted(l, key = lambda x: x[0]))
print("Soted rollno wise in descending order : ",sorted(l, key = lambda x: x[0], reverse=True))
print("Soted name length wise in ascending order : ",sorted(l, key = lambda x: len(x[1])))
print("Soted name length wise in descending order : ",sorted(l, key = lambda x: len(x[1]), reverse=True))
print("Sorted in alphabetical order : ",sorted(l,key = lambda x:x[1]))
print("Sorted in dealphabetical order : ",sorted(l,key = lambda x:x[1],reverse = True))

Enter number of students : 3
Enter rollno of student 1 : 25
Enter name of student 1 : ram
Enter rollno of student 2 : 26
Enter name of student 2 : anil
Enter rollno of student 3 : 27
Enter name of student 3 : cuper
Soted rollno wise in ascending order :  [(25, 'ram'), (26, 'anil'), (27, 'cuper')]
Soted rollno wise in descending order :  [(27, 'cuper'), (26, 'anil'), (25, 'ram')]
Soted name length wise in ascending order :  [(25, 'ram'), (26, 'anil'), (27, 'cuper')]
Soted name length wise in descending order :  [(27, 'cuper'), (26, 'anil'), (25, 'ram')]
Sorted in alphabetical order :  [(26, 'anil'), (27, 'cuper'), (25, 'ram')]
Sorted in dealphabetical order :  [(25, 'ram'), (27, 'cuper'), (26, 'anil')]

In [4]:
#Python Program to Detect if Two Strings are Anagrams ( They are  the two strings which have same length and same words which may be different in their order)
if(sorted(input("Enter string 1 : ")) == sorted(input("Enter string 2 : "))):
  print("Anagrams")
else:
  print("Not anagrams")

Enter string 1 : tea
Enter string 2 : ate
Anagrams